.account-container {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  height: 89vh;
  width: calc(90% - 125px);
  position: relative;
  color: white;
}
.account-center {
  width: 97%;
  margin: auto;
  height: 85vh;
  background: linear-gradient(#222b65, #58619b);
  /* background-color: #222b65; */
  border-radius: 15px;
  box-shadow: 1px 1px 5px #0003;
  /* overflow: scroll; */
  display: flex;
}
.account-left {
  position: relative;
  flex: 1 75%;
  background: linear-gradient(90deg, #96a4fc, #5e67a0);
  margin: auto 2rem;
  height: 81vh;
  border-radius: 15px;
  overflow: scroll;
  padding: 1rem 5rem;
}
.account-left-step {
  position: absolute;
  left: 25px;
  top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-left-number{
    border-radius: 50%;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    border: 2px solid white;
    font-size: 12px;
}
.account-left-number:first-child{
    background-color: #2088ff;
}
.account-left-vr{
    width: 1.5px;
    height: 10vh;
    background-color: white;
}
/* .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */
