.payment-container {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  height: 89vh;
  width: calc(90% - 125px);
}
.payment-center {
  width: 97%;
  margin: 13vh auto;
  /* background-color: #E3E3E3; */
  height: 72vh;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #0003;
  /* overflow: scroll; */
  position: relative;
  display: flex;
  align-items: center;
}
.payment-btn{
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  box-shadow: 1px 1px 5px #0003;
}
.payment-btn:hover{
  transform: scale(1.05);
}
.payment-btn img{
  width: 50%;
}

.payment-btn:nth-last-of-type(1){
  top: -50px;
  right: 10%;
}
.payment-btn:nth-last-of-type(2){
  top: -50px;
  left: 60%;
}
.payment-btn:nth-last-of-type(3){
  top: -50px;
  left: 35%;
}
.payment-btn:nth-last-of-type(4){
  top: -50px;
  left: 10%;
}